header{
    /*background-color: rgb(255, 88, 88);*/
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1%;
}
html{
    font-family:'Segoe UI', sans-serif;
}

body{
    margin:0;
    min-height: 100vh; 
}
.content{
/*    background-color: rgb(116, 255, 88);*/
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.project{
/*    background-color: rgb(88, 127, 255);*/
    display: flex;
    margin: 0.15rem;
    flex-direction: column;
    width: 75%;
    font-size: 12px;
}

.desc{
    display:flex;
    flex-direction: row;
/*    justify-content: space-between;*/
}

.title{
    background-color: rgb(244,244,244);
    margin: auto 0rem;
    width: auto;
    padding:0.2rem;
    font-weight: bold;
}

.year{
/*    background-color: rgb(255, 183, 88);*/
    margin: auto 0rem;
    margin-right: .5rem;
    width: 20%;
    padding:0.2rem;
    justify-content: center;
}

.contribution{
/*    background-color: rgb(255, 88, 88);*/
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
    padding:0.2rem;
    justify-content: center;
    border-radius: 0.5rem;
}

.self-color{
    background-color: rgb(169, 255, 88);
}

.help-color{
    background-color: rgb(238, 255, 88);
}

.type{
/*    background-color: rgb(227, 88, 255);*/
    margin: auto;
    margin-right: 0rem;
    width: auto;
    padding:0.2rem;
    border-radius: 0.5rem;
    border: solid .1rem;
    border-color: rgb(24, 24, 24);
}

footer{
    min-height:10%;
}

.footer-text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

